@import url("https://fonts.googleapis.com/css2?family#Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

#topNav {
justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  display: flex;
  margin-left: 50px;
}
#topNav h1{
    font-size: 50px;
      background: linear-gradient(90deg, #143E1F, #c3d330);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.4px rgba(255, 255, 255, 0.473);
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
}
#topNav a{
    text-decoration: none;
}

.main{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 450px;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.main h1{
    font-size: 36px;
    text-align: center;
}
.main .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: #0000002c;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input:hover{
    background: #000000;
}
.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.main .remember-forgot{
    display: flex;
    margin: -15px 0 15px;
    justify-content: space-between;
    font-size: 14px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a{
    text-decoration: none;
    color: #fff;
}
.remember-forgot a:hover{
    text-decoration: underline;
    color: #000000;
}

.main .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.main .btn:hover{
    background: #72C487;
}

.main .register-link{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
    color: #000000;

}